<%- include('partials/header') %> 
<body  class="login">
<div class="form-container">

<div class="login_wrapper">
<section class="login_content">
<div class="text-center">


    <img src="../images/login.png" class="img-responsive center-block"  />


<h2>Diabetes Care</h2>
                    <h5> An Application of Mobile OCR for medical record tracking in diabetes </h5>
                    <form method="post">
                        <h1>Login</h1>

                        <% if(locals.error) { %>
                        <div class="alert alert-danger"><%= error %></div>
                        <% } %>
                        <% if(locals.success) { %>
                        <div class="alert alert-success"><%= success %></div>
                        <% } %>

                        <div>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="" value="<%= locals.username || '' %>" class="form-control" />
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control"  />
                        </div>
                        <div class="separator">
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-info btn-block"><span class="fa fa-sign-in"></span> Log in</button>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <a href="/register" class="btn btn-success btn-block"><span class="fa fa-edit"></span> Create an account </a>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <br />
                            <div>
                                <p>©2017 Project2. Software Engineering PSU Phuket campus</p>
                            </div>
                        </div>
                    </form>


  <!--  <h2>Diabetes Care</h2>
    <h5> An Application of Mobile OCR for medical record tracking in diabetes </h5>
<div class="credits text-center">
    <h2>Login</h2>
    </div>
</div>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="text-center">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register" class="btn btn-link">Register</a>
        </div>
        </div>
    </form>  -->

</div>
</section>
</div>
</div>
</body>

<!-- <%- include('partials/footer') %> -->